body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

h1 {
  font-size: 5.625rem;
  /* 562.5% or 5.625rem or 90px */
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration:none;


}
a:hover
{
  color: #eaf6f6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: white;
}

.bottom-container {
  background-color: #66bfbf;
  padding-bottom: 50px;
  padding-top: 50px;
}

.stu {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  /*bottom: 300px;*/
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.coding {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.singing {
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr {
  border-top: 6px dotted gray;
  width: 4%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-link {
  color: #11999e;
  position: relative;
}

.copywright {
  color: white;
  font-size: 0.75rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro {
  width: 30%;
  margin: auto;
}

p {
  line-height: 2;
}
